/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body */

body {
    background-image: url(../images/XbRg9D7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Container */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 98px;
}

.card {
    background-color: #ffffffa8;
    padding: 32px 64px;
    border-radius: 4%;
    box-shadow: 6px 4px 2px 0px #00000068;
    width: 36%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d009c;
}

/* Inputs */

.label-float input {
    width: 100%;
    padding: 4px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #0d009c;
    background-color: transparent;
    outline: none;
    min-width: 256px;
    font-size: 16px;
    transition: all -3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 14px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.label-float input:focus {
    border-bottom: 2px solid #4038a0;
}

.label-float label {
    color: #0d009c;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 12px;
    transition: all .3s ease-out;
}

.label-float input:focus + label, .label-float input:valid + label {
    font-size: 14px;
    margin-top: 0;
    color: #4038a0;
}

/* Button*/

button {
    background-color: transparent;
    border-color: #0d009c;
    color: #0d009c;
    padding: 6px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: #0d009c;
    color: #ffffff;

}

.justify-center {
    display: flex;
    justify-content: center;
}

/* Eye */

.fa {
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    color: #0d009c;
}